### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:

district_schools = school_data_complete.loc[school_data_complete["type"] == "District"]
district_student_count = len(district_schools)
district_school_count = len(district_schools["school_name"].unique())
district_average_math = district_schools['math_score'].mean()
district_average_reading = district_schools['reading_score'].mean()
district_overall_score = (district_average_reading + district_average_math) / 2
district_math_passing_rate =  district_schools.loc[district_schools["math_score"] >= 70]
district_math_passing_student_count = len(district_math_passing_rate)
district_reading_passing_rate =  district_schools.loc[district_schools["reading_score"] >= 70]
district_reading_passing_student_count = len(district_reading_passing_rate)
district_math_passing_average = (district_math_passing_student_count * 100) / district_student_count
district_reading_passing_average = (district_reading_passing_student_count * 100) / district_student_count


district_summary = pd.DataFrame({"Total Students": [district_student_count],
                                    "Total Schools": [district_school_count],
                                    "Average Math Score": [district_average_math],
                                    "Average Reading Score": [district_average_reading],
                                    "Overall Passing Rate": [district_overall_score],
                                    "Percentage of Passing Math": [district_math_passing_average],
                                    "Percentage of Passing Reading": [district_reading_passing_average]
                            })
district_summary

,Total Students,Total Schools,Average Math Score,Average Reading Score,Overall Passing Rate,Percentage of Passing Math,Percentage of Passing Reading
0,26976,7,76.987026,80.962485,78.974755,66.518387,80.905249

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [40]:
sort_schools = school_data_complete.groupby('school_name')
school_type = ["District", "Charter"]
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
Per_Student_Budget =per_school_budget / per_school_counts
#passing_math = sort_schools["math_score"] >= 70
#percentage_passing_math = (passing_math.count() * 100) / sort_schools['school_name'].count()
#percentage_passing_math

summary_df = pd.DataFrame({"Student Count": sort_schools['school_name'].count(), 
                            "Total School Budget": per_school_budget, 
                            "Per Student Budget": Per_Student_Budget, 
                            "Average Math Score": sort_schools['math_score'].mean(), 
                            "Average Reading Score": sort_schools['reading_score'].mean()
                            #"% Passing Math": sort_schools["math_score"].count()
})
summary_df.sort_values("Average Reading Score", ascending=True)
summary_df.head()

,Student Count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020
Ford High School,2739,1763916.0,644.0,77.102592,80.746258
Griffin High School,1468,917500.0,625.0,83.351499,83.816757

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [27]:

summary_df.sort_values("Average Math Score", ascending=True)
summary_df.head()

,Student Count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,4976,15549641728,3124928,77.048432,81.033963
Cabrera High School,1858,2009159448,1081356,83.061895,83.975780
Figueroa High School,2949,5557128039,1884411,76.711767,81.158020
Ford High School,2739,4831365924,1763916,77.102592,80.746258
Griffin High School,1468,1346890000,917500,83.351499,83.816757

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [42]:
summary_df.sort_values(by='Average Reading Score', ascending=False)

,Student Count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,
Pena High School,962,585858.0,609.0,83.839917,84.044699
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780
Wright High School,1800,1049400.0,583.0,83.682222,83.955000
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930
Griffin High School,1468,917500.0,625.0,83.351499,83.816757
Holden High School,427,248087.0,581.0,83.803279,83.814988
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724
Huang High School,2917,1910635.0,655.0,76.629414,81.182722
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412
Ford High School,2739,1763916.0,644.0,77.102592,80.746258
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [16]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757